.button {
	margin: 0 4px;
	background-color: $primary-red;
	padding: 8px;
	color: $primary-green;
	font-size: 16px;
	font-weight: 600;
	border: 2px solid white;
	border-radius: $default-border-radius;
	box-shadow: $default-box-shadow;

	&_container {
		background-color: $primary-red;
	}
}
