* {
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background-color: rgb(222, 46, 46);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	color: white;
}

header {
	display: flex;
	margin: 16px 0;
}

h1 {
	color: rgb(22, 202, 22);
	font-size: 24px;
}

.buttons {
	margin: 0 4px;
	background-color: rgb(222, 46, 46);
	padding: 8px;
	color: rgb(22, 202, 22);
	font-size: 16px;
	font-weight: 600;
	border: 2px solid white;
	border-radius: 4px;
	box-shadow: 1px 1px 4px black;
}

.inputContainer {
	display: flex;
	margin: 16px;
}

.inputContainer span {
	display: flex;
	margin: 0 8px;
}

.timerContainer {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: fit-content;
	margin: 16px 0;
}

.timerIcon {
	margin: 0 16px;
	fill: white;
	transition-duration: 0.5s;
}

.timerIcon-active {
	fill: rgb(22, 202, 22);
}

.timerIcon svg {
	height: 32px;
}

p {
	font-size: 32px;
}

.labels {
	color: rgb(22, 202, 22);
	font-weight: 600;
}
.inputs {
	padding: 6px;
	width: 64px;
	border: 2px solid white;
	background-color: rgb(222, 46, 46);
	color: white;
}
